<div  th:fragment="html" xmlns:th="http://www.thymeleaf.org">
    <div class= "row   col-md-2">
        <div class="panel-group">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="adminUserMs">个人信息管理</a>
                    </div>
                </div>

                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="#sys-set" data-toggle="collapse">用户管理</a><span class="caret"></span>
                    </div>
                </div>

                <div class="panel-collapse collapse in" id="sys-set">
                    <div class="panel-body">
                        <ul class="list-unstyled text-center">
                            <li><a href="userAdd">新增用户</a></li>
                            <li><a href="userManage">用户信息管理</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="#pep-set" data-toggle="collapse">教学管理</a><span class="caret"></span>
                    </div>
                </div>

                <div class="panel-collapse collapse in " id="pep-set">
                    <div class="panel-body">
                        <ul class="list-unstyled text-center">
                            <li><a href="categoryAdd">新增教学分类</a></li>
                            <li><a href="categoryList">教学分类管理</a></li>
                            <li><a href="classPage">班级管理</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="studentList">学生管理</a>
                    </div>
                </div>


                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="#pep-set1" data-toggle="collapse">基础设置</a><span class="caret"></span>
                    </div>
                </div>

                <div class="panel-collapse collapse in " id="pep-set1">
                    <div class="panel-body">
                        <ul class="list-unstyled text-center">
                            <li><a href="addPropaganda">上传宣传视频</a></li>
                            <!--<li><a href="categoryList">教学分类管理</a></li>-->
                            <!--<li><a href="classPage">班级管理</a></li>-->
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
