<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('子分类管理')">
</head>
<script src="webjars/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/3.0.1/css/bootstrap.min.css">
<script src="webjars/bootstrap/3.0.1/js/bootstrap.min.js"></script>


<body>
<div id="workingArea" class="container-fluid">
    <!--导航栏-->
    <div th:replace="include/admin/adminNavigator::html"></div>

    <!--左侧折叠菜单-->
    <div th:include="include/admin/adminLeftMenu::html"></div>

    <div class="col-md-10">

        <table class="table table-bordered table-responsive ">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>图片</th>
                <th>接送地址</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans">
                <td>{{bean.id}}</td>
                <td>{{bean.name}}</td>
                <td>{{bean.age}}</td>
                <td>{{bean.sex}}</td>
                <td>图片</td>
                <td>{{bean.school}}</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="include/admin/adminPage::html"></div>
    </div>

    <div th:replace="include/admin/adminFoot::html"></div>
</div>
</body>

<script>
    $(function () {

        var cid=getUrlParms("cid");

        var data4Vue = {
            uri: "student",
            pagination: {},
            beans: [],
        };

        var vue = new Vue({
            el: "#workingArea",
            data: data4Vue,
            mounted: function () {
                this.list(0);
            },
            methods: {
                list: function (start) {
                    var url ="class/"+cid+"/"+ this.uri+"?start="+start+"&isRegister=true";
                    axios.get(url).then(function (response) {
                        vue.beans = response.data.data.content;
                        vue.pagination = response.data.data;
                        console.log(vue.beans);
                    })
                },
                jump: function (page) {
                    jump(page, vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function (start) {
                    jumpByNumber(start, vue);
                },
            }
        })
    })
</script>
</html>