<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('子分类管理')">
</head>
<script src="webjars/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/3.0.1/css/bootstrap.min.css">
<script src="webjars/bootstrap/3.0.1/js/bootstrap.min.js"></script>


<body>
<div id="workingArea" class="container-fluid">
    <!--导航栏-->
    <div th:replace="include/admin/adminNavigator::html"></div>

    <!--左侧折叠菜单-->
    <div th:include="include/admin/adminLeftMenu::html"></div>

    <div class="col-md-10">


        <ol class="breadcrumb">
            <li><a href="classPage">班级管理</a></li>
            <li class="active">{{aClass.name}}</li>
        </ol>

        <!--查询模块-->
        <div class="form-inline">
            <div class="form-group">
                <label class="col-md-6 control-label">查询类型：</label>
                <div class="col-md-6">
                    <select class="form-control" v-model="keyword_type">
                        <option value="name">姓名</option>
                        <option value="age">年龄</option>
                        <option value="sex">性别</option>
                        <!--<option value="all">全相关字段</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="keyword" class="control-label col-md-4">关键字：</label>
                <div class="col-md-8">
                    <input id="keyword" class="form-control" v-model="keyword">
                </div>
            </div>
            <div class="form-group">
                <button @click="search">查找</button>
                <button @click="all">显示全部</button>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-responsive ">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>图片</th>
                <th>接送地址</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans">
                <td>{{bean.id}}</td>
                <td>{{bean.name}}</td>
                <td>{{bean.age}}</td>
                <td>{{bean.sex}}</td>
                <td>图片</td>
                <td>{{bean.school}}</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="include/admin/adminPage::html"></div>
    </div>

    <div th:replace="include/admin/adminFoot::html"></div>
</div>
</body>

<script>
    $(function () {

        var cid=getUrlParms("cid");

        var data4Vue = {
            uri: "student",
            pagination: {},
            beans: [],
            aClass:{},
            keyword_type:"",
            /*关键字*/
            keyword:"",
            isLook:false
        };

        var vue = new Vue({
            el: "#workingArea",
            data: data4Vue,
            mounted: function () {
                this.getClass();
                this.list(0);
            },
            methods: {
                getClass:function () {
                    var url="class/"+cid;
                  axios.get(url).then(function (res) {
                        vue.aClass=res.data.data;
                  })
                },
                list: function (start) {
                    var url ="class/"+cid+"/"+ this.uri+"?start="+start+"&isRegister=true";
                    if(this.islook)
                        url="class/"+cid+"/search?type="+this.keyword_type+"&keyword="+this.keyword+"?start="+start+"&isRegister=true";
                    axios.get(url).then(function (response) {
                        vue.beans = response.data.data.content;
                        vue.pagination = response.data.data;
                        console.log(vue.beans);
                    })
                },
                search:function () {
//                class/{cid}search/
                    this.isLook=true;
                    var url="class/"+cid+"/search?type="+this.keyword_type+"&keyword="+this.keyword+"&isRegister=true";
                    axios.get(url).then(function (res) {
                        vue.beans = res.data.data.content;
                        vue.pagination = res.data.data;
                        console.log(vue.beans);
                    })
                },
                all:function () {
                    this.islook=false;
                    this.list(0);
                },
                jump: function (page) {
                    jump(page, vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function (start) {
                    jumpByNumber(start, vue);
                },
            }
        })
    })
</script>
</html>