<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('后台首页')">
</head>
<!--<script src="webjars/jquery/2.0.0/jquery.min.js"></script>-->
<!--<link rel="stylesheet" href="webjars/bootstrap/3.0.1/css/bootstrap.min.css">-->
<!--<script src="webjars/bootstrap/3.0.1/js/bootstrap.min.js"></script>-->


<body>
    <div id="workingArea" class="container-fluid">
        <!--导航栏-->
        <div th:replace="include/admin/adminNavigator::html"></div>

        <!--左侧折叠菜单-->
        <div th:include="include/admin/adminLeftMenu::html"></div>

        <div class="col-md-10">
            <h1 align="center"> Welcome to admin manage</h1>
        </div>

        <div th:replace="include/admin/adminFoot::html"></div>
    </div>
</body>

<script>
    var data4Vue={
        uri:"",
        bean:""
    };

    var vue=new Vue({
        el:"#workingArea",
        data:data4Vue,
        mounted:function () {

        },
        methods:{

        }
    })
</script>
</html>