<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('登陆')">
</head>
<!--<script src="webjars/jquery/2.0.0/jquery.min.js"></script>-->
<!--<link rel="stylesheet" href="webjars/bootstrap/3.0.1/css/bootstrap.min.css">-->
<!--<script src="webjars/bootstrap/3.0.1/js/bootstrap.min.js"></script>-->

<body>
<div class="container" id="workingArea">
    <form class="form-signin col-md-offset-4 col-md-4">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input v-model="bean.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input v-model="bean.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required >
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" @click="login">Sign in</button>
        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>-->
    </form>

</div>


</body>
<script>
    $(function () {
        var data4Vue={
            uri:"login",
            bean:{email:"",password:""}
        };
        var vue=new Vue({
            el: '#workingArea',
            data: data4Vue,
            methods:{
                login:function () {
                    var url=this.uri;
                    axios.post(url,this.bean).then(function (response) {
                        if(response.data.code==0){
//                            alert("登陆成功");
                            location.href="adminHome";
                        }else
                            alert("登陆失败");
                    })
                }
            }
        })
    })
</script>
</html>