<div  th:fragment="html" xmlns:th="http://www.thymeleaf.org">
    <div class= "row   col-md-2">
        <div class="panel-group">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="UserInfo">个人信息</a>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="enroll">报名托管</a>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="myRegister">我的报名</a>
                    </div>
                </div>


                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="#pep-set" >我的托管</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
