<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/foreHeader::html('注册')">
</head>
<!--<script src="webjars/jquery/2.0.0/jquery.min.js"></script>-->
<!--<link rel="stylesheet" href="webjars/bootstrap/3.0.1/css/bootstrap.min.css">-->
<!--<script src="webjars/bootstrap/3.0.1/js/bootstrap.min.js"></script>-->

<body>
<div class="container" id="workingArea">
    <h1 align="center">Welcome to Nursery Login Page</h1>
    <form class="form-signin col-md-offset-4 col-md-4">
        <h2 class="form-signin-heading" >Sign up</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input v-model="bean.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input v-model="bean.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required >
        <button class="btn btn-lg btn-primary btn-block" type="submit" @click="register">Sign up</button>
        <button class="btn btn-lg btn-primary btn-block" @click="toSignIn">Return</button>
    </form>

</div>


</body>
<script>
    $(function () {
        var data4Vue={
            uri:"register_1",
            bean:{email:"",password:"",role:"家长"}
        };
        var vue=new Vue({
            el: '#workingArea',
            data: data4Vue,
            methods:{
                register:function () {
                    var url=this.uri;
                    axios.post(url,this.bean).then(function (response) {
                        if(response.data.code==0){
                            alert("注册成功");
                        }else
                            alert("注册失败");
                    })
                },
                toSignIn:function () {
                    location.href="foreLogin";
                }
            }
        })
    })
</script>
</html>